<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Velocity Works - data.gov</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <header>data.gov</header>
    <main>
      <div>
        Supported URLS:
        <p>
          <a href="https://labs.data.gov/dashboard/offices/qa"
            >https://labs.data.gov/dashboard/offices/qa</a
          >
        </p>
      </div>

      <div>
        Enter URL: <input type="text" id="url" />
        <button id="getDataBtn">Get Data</button>
      </div> 

      {{range .Catalog}}
     {{.}}
      <div>url - {{.URL}}</div>
      <div>ConformsTo - {{.ConformsTo}}</div>
      {{range .Dataset}} 
        <div>metadata - {{.MetadataType}}</div>
      {{end}}
      {{end}}


    </main>

    <script>
      $(document).ready(function () {
        $("#getDataBtn").click(function () {
          if ($("#url").val()) {
            $.get(`/?url=${$("#url").val()}`);
          } else {
            alert("Please enter the url");
          }
        });
      });
    </script>
  </body>
</html>
